@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i");

// Cores
$cl-black: #111111;
$cl-primary: #555555;
$cl-gray: rgba(255, 255, 255, 1);
$cl-gray-light: rgba(255, 255, 255, 0.5);
$cl-red: #ce1b28;
$cl-gray-border: #bfbfbf;

body {
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
    transition: all 1s;
}

.pad-page {
    padding: 0 1.8vw;
}

.p0 {
    padding: 0;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $cl-black;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
    padding: 1vw;
    font-weight: 500;

    a {
        text-decoration: none;
        outline: none;
        color: $cl-gray-light;

        &:hover {
            color: $cl-gray;
        }
    }

    .sidebar {
        position: fixed;
        display: flex;
        flex-direction: column;
        background: $cl-black;
        right: 0;
        top: 0;
        width: 22.5vw;
        height: 100vh;
        padding: 1vw 2vw;
        transition: all 0.75s;

        &.closed {
            right: -22.5vw;
        }

        .exit {
            text-align: right;
        }

        .links {
            border-bottom: 1px solid $cl-gray-light;
            text-align: left;
            padding: 1.5vw 0;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.video {
    position: relative;
    width: 100vw;
    background-image: linear-gradient(135deg,
        rgba(206, 27, 40, 0.6) 0%,
        rgba(17, 17, 17, 0.6) 74%),
        url("../images/banner.jpg");
    background-position: center;
    background-size: cover;
    background-color: $cl-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vw;

    .title {
        font-size: 59px;
        margin-bottom: 2vw;
        text-align: center;
        color: white;
        overflow: hidden;
        border-right: 0.15em solid orange;
        white-space: nowrap;
        letter-spacing: 0.15em;
        animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
    }

    .description {
        font-size: 22px;
        text-align: center;
        line-height: 36px;
        width: 56.345%;
        color: $cl-gray-light;
    }
}

.informate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $cl-primary;

    &::before {
        content: " ";
        background-image: url("../images/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.05;
    }

    .title {
        font-size: 33px;
        padding-top: 9vw;
        margin-bottom: 2.2vw;
    }

    .description {
        font-size: 15px;
        margin: 0 auto;
        margin-bottom: 4.4vw;
        line-height: 24px;
        width: 75%;
    }

    .box-cards {
        margin-bottom: 5.7vw;

        .card {
            background-color: white;
            padding: 5.2vw 3.5vw;
            border-radius: 5px;
            box-shadow: 0.5px 0.5px 20px #ddd;
            margin-bottom: 3.4vw;
            transition: all 0.4s;

            &:hover {
                transform: scale(1.1);
            }

            .icon {
                font-size: 73px;
                color: $cl-red;
            }

            .title-card {
                font-size: 18px;
                padding: 2vw 0;
            }

            .text-card {
                font-size: 15px;
                line-height: 24px;
            }
        }

        .card-info {
            background-color: white;
            padding: 3.5vw;
            border-radius: 5px;
            box-shadow: 0.5px 0.5px 20px #ddd;
            margin-bottom: 3.4vw;
            transition: all 0.4s;

            &:hover {
                transform: scale(1.05);

                .text-card-info {
                    border-left: 0.6vw solid $cl-red;
                }
            }

            .text-card-info {
                font-size: 15px;
                line-height: 24px;
                padding: 1vw 2.1vw;
                text-align: left;
                font-style: italic;
                border-left: 0.6vw solid $cl-gray-border;
                transition: 0.5s ease-in-out;
            }

            .pad-top {
                padding-top: 2.2vw;

                .box-img {
                    margin-right: 2.2vw;
                    width: 3.6vw;
                    border-radius: 4px;
                    border: 0;
                    display: inline-block;
                    position: relative;

                    .img {
                        display: block;
                        max-width: 100%;
                        border-radius: 100%;
                    }
                }

                .text-name {
                    font-size: 11px;

                    .text-red {
                        color: $cl-red;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.community {
    position: relative;
    background-color: $cl-red;
    color: rgba(255, 255, 255, 0.75);
    background-image: linear-gradient(rgba(206, 27, 40, 0.25),
        rgba(206, 27, 40, 0.25)),
        url("../images/cta01.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    z-index: 1;
    padding: 11.25vw 0;

    .title-community {
        font-size: 33px;
        margin-bottom: 2.2vw;
        animation: opacity 5s;
    }

    .text-description {
        font-size: 15px;
        line-height: 24px;
        animation: opacity 5s;
    }
}

footer {
    background-color: $cl-black;
    color: #888888;

    .pad-both {
        padding-top: 9vw;
        padding-bottom: 9vw;
    }

    hr {
        width: 100%;
        height: 1px;
        border-top: 0;
        margin-top: 1.5vw;
    }

    .box-text-right {
        padding-right: 4vw;

        .title-footer-right {
            font-size: 18px;
            margin-bottom: 2.2vw;
            color: white;
        }

        .text-footer-right {
            font-size: 15px;
            line-height: 24px;
        }
    }

    .text-list {
        padding-left: 0;

        .title-list {
            font-size: 15px;
            margin-bottom: 1vw;
            color: white;
        }

        .text-list-footer {
            text-decoration: none;
            outline: none;
            color: #888888;
            width: 100%;
            font-size: 15px;
            line-height: 24px;
            border-bottom: 1px solid $cl-gray-light;
            text-align: left;
            padding: 1vw 0;
            transition: 0.2s ease-in-out;

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                color: $cl-red;
            }
        }
    }

    .social {
        flex-direction: column;
        padding-left: 4vw;

        .title-social {
            font-size: 15px;
            margin-bottom: 1vw;
            color: white;
        }

        .list-social {
            display: flex;
            align-items: center;
            margin-top: 0.5vw;
            margin-bottom: 0.7vw;

            &:hover {
                .bg-icon-social {
                    background-color: $cl-black;

                    .icon-social {
                        transform: scale(1.6);
                    }
                }

                .text-social {
                    color: $cl-red;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }

            .bg-icon-social {
                background-color: #080808;
                padding: 0.5vw;
                border-radius: 5px;

                .icon-social {
                    transition: ease 0.3s;
                    font-size: calc(10px + 0.4vw);
                }
            }

            .text-social {
                font-size: 15px;
                color: #888888;
                text-decoration: none;
                outline: none;
                transition: 0.2s ease-in-out;
                margin-left: 1vw;
            }
        }
    }

    .texto-legal {
        font-size: 12px;
        margin: 0 auto;
        margin-top: 1.5vw;

        .link-legal {
            text-decoration: none;
            outline: none;
            color: #888888;
            transition: 0.2s ease-in-out;

            &:hover {
                color: $cl-red;
            }
        }
    }
}

/* The typing effect */
@keyframes typing {
    from {
        max-width: 0;
    }

    to {
        max-width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 980px) {
    .pad-page {
        padding: 0;
    }

    .container {
        width: 93%;
    }

    .video {
        .title {
            font-size: 64px;
        }

        .description {
            font-size: 24px;
            line-height: 40px;
            width: 100%;
        }
    }

    .informate {
        .title {
            font-size: calc(10px + 2.7vw);
        }

        .description {
            font-size: calc(10px + 0.6vw);
            line-height: 2.7vw;
            width: 80%;
        }

        .box-cards {
            margin-bottom: 5.7vw;

            .card {

                .icon {
                    font-size: 80px;
                }

                .title-card {
                    font-size: 20px;
                }

                .text-card {
                    font-size: 16px;
                    line-height: 26px;
                }
            }

            .card-info {
                .text-card-info {
                    font-size: 16px;
                    line-height: 26px;
                    border-left: 0.8vw solid $cl-gray-border;
                }

                .pad-top {
                    .box-img {
                        width: 7.6vw;

                        .text-name {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .community {
            .title-community {
                font-size: calc(10px + 2.7vw);
            }

            .text-description {
                font-size: calc(10px + 0.6vw);
                line-height: 2.7vw;
            }
        }

        footer {
            hr {
                width: 100%;
                height: 1px;
                border-top: 0;
                margin-top: 1.5vw;
            }

            .box-text-right {
                padding-right: 4vw;

                .title-footer-right {
                    font-size: 20px;
                }

                .text-footer-right {
                    font-size: 16px;
                    line-height: 26px;
                }
            }

            .text-list {
                padding-right: 4vw;
                padding-left: 16px;

                .title-list {
                    font-size: 16px;
                }

                .text-list-footer {
                    font-size: 16px;
                    line-height: 26px;
                }
            }

            .social {
                .title-social {
                    font-size: 16px;
                }

                .list-social {
                    .bg-icon-social {
                        padding: 0.9vw;

                        .icon-social {
                            font-size: 16px;
                        }
                    }

                    .text-social {
                        font-size: 16px;
                    }
                }
            }

            .texto-legal {
                font-size: 12px;
            }
        }
    }
}


@media (max-width: 576px) {
    .pad-page {
        padding: 0;
    }

    .container {
        width: 93%;
    }

    .video {
        .title {
            font-size: calc(10px + 3.2vw);
        }

        .description {
            font-size: calc(10px + 1.8vw);
            line-height: calc(10px + 4vw);
            width: 100%;
        }
    }

    .informate {
        .title {
            font-size: calc(10px + 3.1vw);
        }

        .description {
            font-size: calc(10px + 1vw);
            line-height: 4.5vw;
            width: 80%;
        }

        .box-cards {
            margin-bottom: 5.7vw;

            .card {

                .icon {
                    font-size: 80px;
                }

                .title-card {
                    margin-top: 15px;
                    margin-bottom: 15px;
                    font-size: calc(10px + 1.8vw);
                }

                .text-card {
                    font-size: calc(10px + 1vw);
                    line-height: calc(10px + 2.8vw);
                    margin: 0 auto;
                    width: 85%;
                }
            }

            .card-info {
                .text-card-info {
                    font-size: calc(10px + 1vw);
                    line-height: calc(10px + 2.8vw);
                    border-left: 1.2vw solid $cl-gray-border;
                    width: 80%;
                }

                .pad-top {
                    .box-img {
                        width: 13.6vw;

                        .text-name {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .community {
            .title-community {
                font-size: 36px;
            }

            .text-description {
                font-size: calc(10px + 1vw);
                line-height: 4.5vw;
            }
        }

        footer {
            hr {
                width: 100%;
                height: 1px;
                border-top: 0;
                margin-top: 1.5vw;
            }

            .box-text-right {
                padding-right: 4vw;

                .title-footer-right {
                    font-size: 20px;
                }

                .text-footer-right {
                    font-size: 16px;
                    line-height: 26px;
                }
            }

            .text-list {
                padding-right: 4vw;
                padding-left: 16px;

                .title-list {
                    font-size: 16px;
                }

                .text-list-footer {
                    font-size: 16px;
                    line-height: 26px;
                }
            }

            .social {
                .title-social {
                    font-size: 16px;
                }

                .list-social {
                    .bg-icon-social {
                        padding: 0.9vw;

                        .icon-social {
                            font-size: 16px;
                        }
                    }

                    .text-social {
                        font-size: 16px;
                    }
                }
            }

            .texto-legal {
                font-size: 12px;
            }
        }
    }
}