@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i");
body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.pad-page {
  padding: 0 1.8vw;
}

.p0 {
  padding: 0;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #111111;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;
  padding: 1vw;
  font-weight: 500;
}

.nav-menu a {
  text-decoration: none;
  outline: none;
  color: rgba(255, 255, 255, 0.5);
}

.nav-menu a:hover {
  color: white;
}

.nav-menu .sidebar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #111111;
  right: 0;
  top: 0;
  width: 22.5vw;
  height: 100vh;
  padding: 1vw 2vw;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
}

.nav-menu .sidebar.closed {
  right: -22.5vw;
}

.nav-menu .sidebar .exit {
  text-align: right;
}

.nav-menu .sidebar .links {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  text-align: left;
  padding: 1.5vw 0;
}

.nav-menu .sidebar .links:last-child {
  border-bottom: none;
}

.video {
  position: relative;
  width: 100vw;
  background-image: linear-gradient(135deg, rgba(206, 27, 40, 0.6) 0%, rgba(17, 17, 17, 0.6) 74%), url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vw;
}

.video .title {
  font-size: 59px;
  margin-bottom: 2vw;
  text-align: center;
  color: white;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  letter-spacing: 0.15em;
  -webkit-animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
          animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.video .description {
  font-size: 22px;
  text-align: center;
  line-height: 36px;
  width: 56.345%;
  color: rgba(255, 255, 255, 0.5);
}

.informate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #555555;
}

.informate::before {
  content: " ";
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.05;
}

.informate .title {
  font-size: 33px;
  padding-top: 9vw;
  margin-bottom: 2.2vw;
}

.informate .description {
  font-size: 15px;
  margin: 0 auto;
  margin-bottom: 4.4vw;
  line-height: 24px;
  width: 75%;
}

.informate .box-cards {
  margin-bottom: 5.7vw;
}

.informate .box-cards .card {
  background-color: white;
  padding: 5.2vw 3.5vw;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 20px #ddd;
          box-shadow: 0.5px 0.5px 20px #ddd;
  margin-bottom: 3.4vw;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.informate .box-cards .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.informate .box-cards .card .icon {
  font-size: 73px;
  color: #ce1b28;
}

.informate .box-cards .card .title-card {
  font-size: 18px;
  padding: 2vw 0;
}

.informate .box-cards .card .text-card {
  font-size: 15px;
  line-height: 24px;
}

.informate .box-cards .card-info {
  background-color: white;
  padding: 3.5vw;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 0.5px 20px #ddd;
          box-shadow: 0.5px 0.5px 20px #ddd;
  margin-bottom: 3.4vw;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.informate .box-cards .card-info:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.informate .box-cards .card-info:hover .text-card-info {
  border-left: 0.6vw solid #ce1b28;
}

.informate .box-cards .card-info .text-card-info {
  font-size: 15px;
  line-height: 24px;
  padding: 1vw 2.1vw;
  text-align: left;
  font-style: italic;
  border-left: 0.6vw solid #bfbfbf;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.informate .box-cards .card-info .pad-top {
  padding-top: 2.2vw;
}

.informate .box-cards .card-info .pad-top .box-img {
  margin-right: 2.2vw;
  width: 3.6vw;
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
}

.informate .box-cards .card-info .pad-top .box-img .img {
  display: block;
  max-width: 100%;
  border-radius: 100%;
}

.informate .box-cards .card-info .pad-top .text-name {
  font-size: 11px;
}

.informate .box-cards .card-info .pad-top .text-name .text-red {
  color: #ce1b28;
  font-weight: bold;
}

.community {
  position: relative;
  background-color: #ce1b28;
  color: rgba(255, 255, 255, 0.75);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(206, 27, 40, 0.25)), to(rgba(206, 27, 40, 0.25))), url("../images/cta01.jpg");
  background-image: linear-gradient(rgba(206, 27, 40, 0.25), rgba(206, 27, 40, 0.25)), url("../images/cta01.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  z-index: 1;
  padding: 11.25vw 0;
}

.community .title-community {
  font-size: 33px;
  margin-bottom: 2.2vw;
  -webkit-animation: opacity 5s;
          animation: opacity 5s;
}

.community .text-description {
  font-size: 15px;
  line-height: 24px;
  -webkit-animation: opacity 5s;
          animation: opacity 5s;
}

footer {
  background-color: #111111;
  color: #888888;
}

footer .pad-both {
  padding-top: 9vw;
  padding-bottom: 9vw;
}

footer hr {
  width: 100%;
  height: 1px;
  border-top: 0;
  margin-top: 1.5vw;
}

footer .box-text-right {
  padding-right: 4vw;
}

footer .box-text-right .title-footer-right {
  font-size: 18px;
  margin-bottom: 2.2vw;
  color: white;
}

footer .box-text-right .text-footer-right {
  font-size: 15px;
  line-height: 24px;
}

footer .text-list {
  padding-left: 0;
}

footer .text-list .title-list {
  font-size: 15px;
  margin-bottom: 1vw;
  color: white;
}

footer .text-list .text-list-footer {
  text-decoration: none;
  outline: none;
  color: #888888;
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  text-align: left;
  padding: 1vw 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

footer .text-list .text-list-footer:last-child {
  border-bottom: none;
}

footer .text-list .text-list-footer:hover {
  color: #ce1b28;
}

footer .social {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 4vw;
}

footer .social .title-social {
  font-size: 15px;
  margin-bottom: 1vw;
  color: white;
}

footer .social .list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5vw;
  margin-bottom: 0.7vw;
}

footer .social .list-social:hover .bg-icon-social {
  background-color: #111111;
}

footer .social .list-social:hover .bg-icon-social .icon-social {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

footer .social .list-social:hover .text-social {
  color: #ce1b28;
}

footer .social .list-social:last-child {
  margin-bottom: 0;
}

footer .social .list-social .bg-icon-social {
  background-color: #080808;
  padding: 0.5vw;
  border-radius: 5px;
}

footer .social .list-social .bg-icon-social .icon-social {
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  font-size: calc(10px + 0.4vw);
}

footer .social .list-social .text-social {
  font-size: 15px;
  color: #888888;
  text-decoration: none;
  outline: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  margin-left: 1vw;
}

footer .texto-legal {
  font-size: 12px;
  margin: 0 auto;
  margin-top: 1.5vw;
}

footer .texto-legal .link-legal {
  text-decoration: none;
  outline: none;
  color: #888888;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

footer .texto-legal .link-legal:hover {
  color: #ce1b28;
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}
@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 980px) {
  .pad-page {
    padding: 0;
  }
  .container {
    width: 93%;
  }
  .video .title {
    font-size: 64px;
  }
  .video .description {
    font-size: 24px;
    line-height: 40px;
    width: 100%;
  }
  .informate .title {
    font-size: calc(10px + 2.7vw);
  }
  .informate .description {
    font-size: calc(10px + 0.6vw);
    line-height: 2.7vw;
    width: 80%;
  }
  .informate .box-cards {
    margin-bottom: 5.7vw;
  }
  .informate .box-cards .card .icon {
    font-size: 80px;
  }
  .informate .box-cards .card .title-card {
    font-size: 20px;
  }
  .informate .box-cards .card .text-card {
    font-size: 16px;
    line-height: 26px;
  }
  .informate .box-cards .card-info .text-card-info {
    font-size: 16px;
    line-height: 26px;
    border-left: 0.8vw solid #bfbfbf;
  }
  .informate .box-cards .card-info .pad-top .box-img {
    width: 7.6vw;
  }
  .informate .box-cards .card-info .pad-top .box-img .text-name {
    font-size: 12px;
  }
  .informate .community .title-community {
    font-size: calc(10px + 2.7vw);
  }
  .informate .community .text-description {
    font-size: calc(10px + 0.6vw);
    line-height: 2.7vw;
  }
  .informate footer hr {
    width: 100%;
    height: 1px;
    border-top: 0;
    margin-top: 1.5vw;
  }
  .informate footer .box-text-right {
    padding-right: 4vw;
  }
  .informate footer .box-text-right .title-footer-right {
    font-size: 20px;
  }
  .informate footer .box-text-right .text-footer-right {
    font-size: 16px;
    line-height: 26px;
  }
  .informate footer .text-list {
    padding-right: 4vw;
    padding-left: 16px;
  }
  .informate footer .text-list .title-list {
    font-size: 16px;
  }
  .informate footer .text-list .text-list-footer {
    font-size: 16px;
    line-height: 26px;
  }
  .informate footer .social .title-social {
    font-size: 16px;
  }
  .informate footer .social .list-social .bg-icon-social {
    padding: 0.9vw;
  }
  .informate footer .social .list-social .bg-icon-social .icon-social {
    font-size: 16px;
  }
  .informate footer .social .list-social .text-social {
    font-size: 16px;
  }
  .informate footer .texto-legal {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .pad-page {
    padding: 0;
  }
  .container {
    width: 93%;
  }
  .video .title {
    font-size: calc(10px + 3.2vw);
  }
  .video .description {
    font-size: calc(10px + 1.8vw);
    line-height: calc(10px + 4vw);
    width: 100%;
  }
  .informate .title {
    font-size: calc(10px + 3.1vw);
  }
  .informate .description {
    font-size: calc(10px + 1vw);
    line-height: 4.5vw;
    width: 80%;
  }
  .informate .box-cards {
    margin-bottom: 5.7vw;
  }
  .informate .box-cards .card .icon {
    font-size: 80px;
  }
  .informate .box-cards .card .title-card {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: calc(10px + 1.8vw);
  }
  .informate .box-cards .card .text-card {
    font-size: calc(10px + 1vw);
    line-height: calc(10px + 2.8vw);
    margin: 0 auto;
    width: 85%;
  }
  .informate .box-cards .card-info .text-card-info {
    font-size: calc(10px + 1vw);
    line-height: calc(10px + 2.8vw);
    border-left: 1.2vw solid #bfbfbf;
    width: 80%;
  }
  .informate .box-cards .card-info .pad-top .box-img {
    width: 13.6vw;
  }
  .informate .box-cards .card-info .pad-top .box-img .text-name {
    font-size: 12px;
  }
  .informate .community .title-community {
    font-size: 36px;
  }
  .informate .community .text-description {
    font-size: calc(10px + 1vw);
    line-height: 4.5vw;
  }
  .informate footer hr {
    width: 100%;
    height: 1px;
    border-top: 0;
    margin-top: 1.5vw;
  }
  .informate footer .box-text-right {
    padding-right: 4vw;
  }
  .informate footer .box-text-right .title-footer-right {
    font-size: 20px;
  }
  .informate footer .box-text-right .text-footer-right {
    font-size: 16px;
    line-height: 26px;
  }
  .informate footer .text-list {
    padding-right: 4vw;
    padding-left: 16px;
  }
  .informate footer .text-list .title-list {
    font-size: 16px;
  }
  .informate footer .text-list .text-list-footer {
    font-size: 16px;
    line-height: 26px;
  }
  .informate footer .social .title-social {
    font-size: 16px;
  }
  .informate footer .social .list-social .bg-icon-social {
    padding: 0.9vw;
  }
  .informate footer .social .list-social .bg-icon-social .icon-social {
    font-size: 16px;
  }
  .informate footer .social .list-social .text-social {
    font-size: 16px;
  }
  .informate footer .texto-legal {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */